<header>
    <h1>Booking App</h1>
    <nav>
        <a href="/" class="home">Accueil</a>

        <!-- Si l'utilisateur est connecté :  -->
        <% if(typeof session.user !== 'undefined') { %>
            
            <p>Vous êtes connecté en tant que : <span><%= session.user.username %></span></p>
            <a href="/logout">Se déconnecter</a>

        <!-- S'il n'est pas connecté :  -->
        <% } else { %>

            <a href="/login" class="login">Connexion</a>
            <a href="/register" class="register">Inscription</a>

        <% } %>
    </nav>
    
</header>
