<form action="/register" method="post">

    <% if (typeof error !== 'undefined' && error) { %>
        <p>Error : <%= error %></p>
    <% } %>

    <h1>Créer votre compte</h1>
    <fieldset>
        <div class="field-container">
            <label for="username" class="label-content">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username">
        </div>
         <div class="field-container">
            <label for="password" class="label-content">Mot de passe :</label>
            <input type="password" id="password" name="password">
        </div>
        <button class="subscribe-btn">s'inscrire</button>
    </fieldset>
</form>